@use 'sass:meta' as *;
@use '../global/mixins' as *;

#home {
  padding: 0 20px;
  margin-bottom: 0;
  transform: translateY(-5px);
  flex-grow: 1;

  @media (max-width: 630px) {
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  &,
  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  & > main {
    position: relative;
    gap: 40px;
    padding: 40px;
    padding-top: 30px;

    @media (max-width: 630px) {
      justify-content: flex-start;
      padding-inline: 25px;
      width: 100%;
      padding-top: 50px;
      border-radius: 0;
    }

    & > * {
      width: 100%;
      max-width: 480px;
    }

    & > header {
      position: relative;
      z-index: 1;
      @include flex(column, center, center);
      width: 100%;
      text-align: center;
      gap: 20px;

      & > div {
        position: relative;
        z-index: -1;
        border-radius: 50%;
        overflow: hidden;
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
        border: 4.5px solid var(--avatar-border-color);
        box-shadow: 0 0 10px var(--avatar-shadow-color);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          pointer-events: none;
        }
      }

      h1 {
        margin: 0 !important;
        font-family: var(--ifm-font-family-based);
        font-size: 46px;
        font-weight: 800;
        color: var(--title-color-1);
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        span {
          transition: color ease 0.5s;
          animation: colorChange 5s ease-in-out infinite;
          animation-delay: calc(var(--index) * 0.2s);
          cursor: default;
        }
      }

      small {
        margin-top: 7.5px;
        font-size: 16px;
        font-weight: 400;
        color: var(--headline-color);
        letter-spacing: 0.25px;
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        & > p {
          margin: 0;
        }
      }

      menu {
        @include flex(row, center, center);
        gap: 10px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 10px;

        section {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          margin: 0;
          padding: 0;

          @include load-css('featured-button');
        }
      }
    }

    & > main {
      @include flex(column, flex-start, center);
      gap: 15px;
      width: 100%;

      p {
        @include flex(row, center, flex-start);
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #fff;
      }
    }
  }
}

.navbar-sidebar--show .navbar-sidebar {
  height: 100vh;
  height: 100dvh;
}
