@use 'sass:meta' as *;
@use '../global/mixins' as *;

#home {
  padding: 0 20px;
  margin-bottom: 0;
  transform: translateY(-5px);
  flex-grow: 1;

  @media (max-width: 630px) {
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  &,
  & > main {
    @include flex(column, center, flex-start);
    width: 100%;
  }

  & > main {
    position: relative;
    gap: 50px;
    padding: 40px;
    padding-top: 80px;

    @media (max-width: 630px) {
      justify-content: flex-start;
      gap: 40px;
      padding-inline: 25px;
      width: 100%;
      padding-top: 50px;
      border-radius: 0;
    }

    & > * {
      width: 100%;
      max-width: 480px;
    }

    & > header {
      position: relative;
      z-index: 1;
      @include flex(column, center, center);
      width: 100%;
      text-align: center;
      gap: 20px;

      & > div {
        position: relative;
        z-index: -1;
        border-radius: 50%;
        overflow: hidden;
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
        border: 4.5px solid var(--avatar-border-color);
        box-shadow: 0 0 10px var(--avatar-shadow-color);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          pointer-events: none;
        }
      }

      h1 {
        margin: 0 !important;
        font-family: var(--ifm-font-family-base);
        font-size: 46px;
        font-weight: 800;
        color: var(--title-color-1);
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        span {
          transition: color ease 0.5s;
          animation: colorChange 5s ease-in-out infinite;
          animation-delay: calc(var(--index) * 0.2s);
          cursor: default;
        }

        @media (max-width: 630px) {
          font-size: 36px;
        }
      }

      small {
        margin-top: 7.5px;
        font-size: 14px;
        font-weight: 300;
        color: #3e5977;
        letter-spacing: 0.25px;
        text-shadow: 1px 1px 2px var(--title-shadow-color);

        & > p {
          margin: 0;
        }

        [data-testid] {
          font-size: 14px;
          font-weight: 500;
        }
      }

      menu {
        @include flex(row, center, center);
        gap: 10px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 10px;

        section {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
          margin: 0;
          padding: 0;

          @include load-css('featured-button');
        }
      }
    }

    & > main {
      @include flex(column);

      h2 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: var(--ifm-font-family-featured);
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: var(--title-color-1);

        strong {
          font-family: var(--ifm-font-family-base);
          font-weight: 600;
          color: #2790ff;
        }
      }

      small {
        margin-bottom: 20px;
        font-size: 13px;
        text-align: center;
        color: #3e5977;

        p {
          + p {
            margin-top: 15px;
          }
        }
      }

      .cards {
        @include flex(row, stretch, center, wrap);
        gap: 15px;

        a {
          @include flex(column);
          gap: 10px;
          width: 275px;
          padding: 20px;
          border-radius: 10px;
          background-color: #ffffff60;
          border: 1px solid #acccff95;
          box-shadow: 0 0 5px #445cc619;
          transition: transform 0.25s cubic-bezier(0.75, -0.9, 0.2, 0.9);

          @media (max-width: 630px) {
            width: 100%;
          }

          header {
            @include flex(row, center, flex-start);
            gap: 7.5px;
            font-size: 13px;
            color: var(--title-color-1);
            word-break: keep-all;
            font-weight: 600;

            svg {
              color: #65c2a7;
              width: 18px;
              height: 18px;
              transition:
                transform 0.25s,
                color 0.25s;
            }
          }

          main {
            flex-grow: 1;
            font-size: 13px;
            color: #5b80d0;

            @media (max-width: 630px) {
              font-size: 14px;
            }
          }

          footer {
            @include flex(row, center, flex-end);
            width: 100%;

            svg {
              width: 16px;
              height: 16px;
              stroke-width: 1.5px;
              transition:
                transform 0.25s,
                color 0.25s;
            }
          }

          &:hover {
            transform: scale(1.05);

            svg {
              transform: scale(1.175);
              color: #3367d7;
            }
          }
        }
      }

      .team {
        @include flex(row, stretch, center, wrap);
        gap: 15px;

        .cards {
          a {
            width: fit-content;
            flex-direction: row;
            align-items: center;
            padding: 5px;
            padding-right: 15px;

            header {
              font-size: 11px;
              font-weight: 500;

              img {
                border-radius: 10px;
                width: 36px;
                border: 3px solid transparent;
                transition: border-color 0.25s;
              }
            }

            &:hover {
              img {
                border-color: #f0f9ff;
              }
            }
          }
        }

        + footer {
          position: relative;
          @include flex(column, center);
          gap: 10px;
          width: 100%;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
          background-color: #aae1ff38;
          border-radius: 10px;
          color: #104c76;
          border: 1px solid #b9e2ff;
          text-align: center;
          font-weight: 500;
          animation: fadeIn 0.25s ease forwards;
          font-size: 13px;
        }
      }

      &#cards,
      &#maintainers,
      &#projects {
        max-width: 855px;
      }

      &#team {
        max-width: 640px;
      }

      &#maintainers,
      &#projects {
        align-items: center;
        justify-content: center;
        padding: 0;

        small {
          margin: 0;
          transform: translateY(-20px);
        }

        .cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 275px;

          @media (max-width: 630px) {
            grid-template-columns: 1fr;
            width: 100%;
          }

          a {
            header {
              gap: 12.5px;
              font-size: 14px;
              font-weight: 600;
              word-break: break-all;

              img {
                border-radius: 10px;
                width: 36px;
                transition: transform 0.25s cubic-bezier(0.75, -0.9, 0.2, 0.9);
              }
            }

            main {
              font-size: 13px;
              color: #225597;
            }

            &:hover {
              img {
                transform: scale(1.125);
              }
            }
          }
        }

        & > footer {
          width: 100%;
          font-size: 13px;
          font-weight: 600;

          a {
            @include flex(row, center);
            gap: 5px;
            padding-top: 15px;
            transform: translateX(5px);
            transition: transform 0.15s;

            svg {
              width: 16px;
              height: 16px;
            }

            &:hover {
              transform: translateX(25px) scale(1.05);
            }
          }
        }
      }

      &#about,
      &#motivation,
      &#team {
        margin-top: -20px;

        & > small {
          margin-top: -15px;
        }
      }
    }
  }
}
