@use 'sass:meta' as *;
@use '../global/mixins' as *;
@use 'shared';

#projects {
  @extend %page;

  button {
    flex-grow: 1;
    @include flex(row, stretch, center);
    gap: 5px;
    padding: 7.5px 15px;
    border: 1px dotted #a6cce0a6;
    border-radius: 5px;
    background-color: #edf5ff;
    color: #2e8cf2;
    font-size: 12px;
    font-weight: 600;
    transition:
      background-color 0.1s,
      color 0.15s;
    cursor: pointer;
    user-select: none;

    svg {
      width: 14px;
      height: 14px;
    }

    &:hover,
    &.active {
      background-color: #2e8cf2;
      color: #edf5ff;
    }

    &.active {
      pointer-events: none;
    }
  }

  & > main {
    & > h3 {
      @include flex(row, center);
      gap: 5px;
      margin: 0;
      font-family: var(--ifm-font-family-featured);
      font-size: 14px;
      font-weight: 700;
      user-select: none;
      color: var(--title-color-1);
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
        transition: color 0.15s;
      }

      svg,
      span {
        color: #2e8cf2;
      }

      &.active {
        svg {
          transform: rotate(180deg);
        }

        + menu {
          grid-template-rows: 1fr;

          & > .container {
            opacity: 1;
          }
        }
      }

      &.counter {
        margin-top: 10px;
      }

      &:hover {
        svg {
          color: #23c59a;
        }
      }
    }

    & > menu {
      display: grid;
      grid-template-rows: 0fr;
      gap: 7.5px;
      transition: 0.25s grid-template-rows;

      & > .container {
        overflow: hidden;
        @include flex(column);
        gap: 15px;
        padding: 0;
        opacity: 0;
        transition: opacity 0.35s ease;
      }

      & > div {
        @include flex(column);
        gap: 7.5px;

        h4 {
          width: 100%;
          margin: 0;
          font-size: 13px;
          font-weight: 600;
          color: #0057c2;
        }

        small {
          position: relative;
          @include flex(column, center);
          gap: 10px;
          width: 100%;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
          background-color: #aae1ff38;
          border-radius: 10px;
          color: #104c76;
          border: 1px solid #b9e2ff;
          text-align: center;
          font-weight: 500;
          animation: fadeIn 0.25s ease forwards;

          p {
            font-size: 13px;
          }

          .float {
            position: absolute;
            top: -15px;
            right: -15px;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid #a2d8ff;
            box-shadow: 0 0 7.5px #00000014;
            background-color: #fff;
            animation: fadeIn 0.75s ease forwards;

            svg {
              width: 20px;
              height: 20px;
              stroke-width: 2.5px;
              animation: colorChange 10s ease-in-out infinite;
            }
          }

          p {
            + p {
              margin-top: 7.5px;
            }
          }
        }

        div {
          @include flex(row, center, flex-start, wrap);
          gap: 7.5px;
          width: fit-content;
        }
      }
    }

    & > .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      margin-top: 10px;
      animation: fadeIn 0.25s ease-in forwards;

      @media (max-width: 630px) {
        padding-inline: 0;
        grid-template-columns: 1fr;
      }

      @include load-css('project');

      &:has(nav:hover) nav:not(:hover) {
        filter: opacity(0.5);
        will-change: filter;

        @media (max-width: 820px) {
          filter: none;
        }
      }
    }
  }
}
