@use 'sass:meta' as *;
@use '../../global/mixins' as *;

.main-header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  @include flex(row, center, space-between);
  gap: 15px;
  padding: 12.5px 20px;
  background-color: #edf7ffe4;
  box-shadow: 0 0 5px #00000023;

  a {
    @include flex(row, center);
    gap: 5px;
    transition:
      color 0.25s,
      transform 0.2s;

    &:hover {
      color: #035ddd;
    }
  }

  aside {
    @include flex(row, center);
    gap: 15px;

    a {
      font-size: 14px;
      font-weight: 500;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        transform: scale(1.025);
      }
    }
  }
}
