@use 'sass:meta' as *;
@use '../../global/mixins' as *;

.main-header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include flex(row, center, space-between);
  gap: 15px;
  padding: 12.5px 20px;
  transition:
    background-color 0.25s,
    box-shadow 0.25s;

  &.show-bg {
    box-shadow: 0 0 5px #00000023;
    background-color: #edf7ffe4;
    backdrop-filter: blur(5px);
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  a {
    @include flex(row, center);
    gap: 7.5px;
    font-size: 13px;
    font-weight: 500;
    transition: transform 0.1s;

    &:hover {
      color: #035ddd;
      stroke: #035ddd !important;
      transform: scale(1.02);
    }

    & > span {
      background: linear-gradient(
        94.23deg,
        #2846de 12.41%,
        #288cff 52.55%,
        #009dff 89.95%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }

  aside {
    @include flex(row, center);
    gap: 15px;

    a {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .trigger-sidebar {
      @include flex(row, center);
      background-color: unset;
      border: none;
      cursor: pointer;

      svg {
        stroke: #035ddd;
        transition: transform 0.1s;
      }

      &:hover {
        svg {
          stroke: #1c91ff;
          transform: scale(1.05);
        }
      }
    }
  }
}

@include load-css('sidebar');
