@use 'sass:meta' as *;
@use '../../global/mixins' as *;

.main-header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include flex(row, center, space-between);
  gap: 15px;
  padding: 12.5px 20px;
  background-color: #edf7ffe4;
  box-shadow: 0 0 5px #00000023;
  backdrop-filter: blur(5px);

  .logo {
    width: 28px;
  }

  a {
    @include flex(row, center);
    gap: 5px;
    background: linear-gradient(
      94.23deg,
      #2846de 12.41%,
      #288cff 52.55%,
      #009dff 89.95%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition:
      color 0.25s,
      transform 0.1s;

    &:hover {
      color: #035ddd;
      stroke: #035ddd !important;
      transform: scale(1.025);
    }
  }

  aside {
    @include flex(row, center);
    gap: 15px;

    a {
      font-size: 14px;
      font-weight: 500;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
