@use 'sass:meta' as *;
@use '../../global/mixins' as *;

#sidebar {
  position: fixed;
  inset: 0;
  z-index: 3;
  @include flex(column, flex-end);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s;
  will-change: opacity;
  background-color: #d6edffbe;
  backdrop-filter: blur(15px);

  @media (max-width: 630px) {
    align-items: center;
  }

  .content {
    @include flex(column, flex-end);
    flex-grow: 1;
    width: 100%;

    @media (max-width: 630px) {
      align-items: center;
    }

    > header {
      @include flex(row, center, space-between);
      width: 100%;
      padding: 12.5px 20px;

      a {
        svg {
          width: 20px;
          height: 20px;
          transform: translateY(2.5px);
        }
      }

      .close-sidebar {
        @include flex(row, center);
        background-color: unset;
        border: none;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          stroke: #ff4e95;
          transform: translateY(-1px);
          transition: transform 0.1s;
        }

        &:hover {
          svg {
            transform: scale(1.05);
            color: #12ff75;
          }
        }
      }
    }

    > main {
      flex-grow: 1;
      @include flex(column, flex-end);
      gap: 20px;
      padding: 20px 40px;
      width: 420px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.1s cubic-bezier(0.5, -0.5, 0.2, 0.9);
      will-change: trasform;

      @media (max-width: 630px) {
        width: 100%;
      }

      a {
        @include flex(row, center);
        gap: 10px;
        width: 100%;
        padding: 20px 30px;
        border-radius: 25px;
        border: 1px solid #acccff95;
        box-shadow: 0 0 5px #445cc619;
        background-color: #ffffff80;
        font-size: 13px;
        font-weight: 600;
        transition:
          border 0.25s,
          transform 0.15s;
        color: #3c4d97;

        svg {
          height: 24px;
          width: 24px;
          filter: drop-shadow(0 0 2.5px #2b79ff20);
          color: #388eff;
          transition:
            color 0.25s,
            transform 0.25s;
        }

        &:hover {
          border-color: #9cc2ffc9;
          transform: scale(1.02);

          svg {
            color: #0099ff;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &.on {
    opacity: 1;
    pointer-events: all;

    .content {
      > main {
        transform: scaleX(1);
      }
    }
  }
}
