@use 'mixins' as *;

.faq {
  @include flex(column);
  width: 100%;
  padding: 12.5px 20px;
  background-color: #ffffff60;
  border: 1px solid #acccff95;
  border-radius: 10px;
  transition: background-color 0.25s;

  h2 {
    @include flex(row, center, space-between);
    gap: 10px;
    width: 100%;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;

    span {
      @include flex(row, center);
      gap: 10px;
      background: linear-gradient(
        94.23deg,
        #2846de 12.41%,
        #506dff 52.55%,
        #009dff 89.95%
      ) !important;
      -webkit-text-fill-color: transparent !important;
      -webkit-background-clip: text !important;
      background-clip: text !important;

      svg {
        stroke: #009dff !important;
        width: 18px !important;
        height: 18px !important;
        transform: none !important;
      }
    }

    .arrow {
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      stroke: #1bac66;
      transform: none !important;
      transition:
        transform 0.25s cubic-bezier(0.75, -0.5, 0.2, 0.9),
        stroke 0.25s;
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid transparent;
    transition:
      grid-template-rows 0.1s,
      margin-top 0.1s,
      padding-top 0.1s,
      opacity 0.25s ease,
      border-color 0.25s ease;

    & > span {
      @include flex(column);
      width: 100%;
      overflow: hidden;
    }

    small {
      width: 100%;
      padding: 10px 15px;
      text-align: left;

      strong {
        font-weight: 600;
      }
    }
  }

  &:hover {
    background-color: #ffffff91;
  }

  &.open {
    h2 {
      .arrow {
        transform: rotate(45deg) !important;
        stroke: #fe0061;
      }
    }

    .wrapper {
      grid-template-rows: 1fr;
      opacity: 1;
      padding-top: 10px;
      margin-top: 12.5px;
      border-color: #b3d3ff;
    }
  }
}
